body {
  background: #2298cb;
  width: 1440px;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-nav {
  margin-right: 76px;
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 8px;
}

body {
  color: #434455;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
}
.logo-header {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-dark {
  color: #2e2f42;
}

.nav-list {
  padding-left: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  gap: 40px;
}

.nav-link {
  padding: 24px 0;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* hover */
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.info-link:hover {
  color: #404bbf;
}
.info-link:focus {
  color: #404bbf;
}
.nav-item {
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.info-link {
  cursor: default;
  /* text-decoration: none; */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.info-item {
  cursor: default;
  padding: 24px 0;
  display: inline;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.info-item:hover {
  color: #404bbf;
}
.info-item:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  cursor: default;
}
.info {
  display: flex;
  padding-left: 0px;
  gap: 40px;
  cursor: default;
}
/* main */
.hiro {
  display: flex;
  background-color: #2e2f42;
  padding: 188px 0;
}
.hiro-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 498px;
  margin-bottom: 48px;
  box-sizing: border-box;
  /* box-sizing: content-box; */
}
.btn {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  cursor: pointer;
  color: #ffffff;
}
.btn:hover {
  background-color: #404bbf;
}
.btn:focus {
  background-color: #404bbf;
}
/* section skills */
.skills {
  padding: 120px 0;
}
.skills .container {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.skills-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 8px;
  text-align: center;
}
.skills-list {
  display: flex;
  gap: 24px;
}
.skills-item {
  width: calc((100% - 72px) / 4);
}
.skills-title-text {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.skills-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
/* section team */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team .container {
  flex-wrap: wrap;
}

.team-title {
  margin-bottom: 72px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.container-name {
  padding: 32px 0;
}
.team-item {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
}
.team-title-text {
  text-align: center;
  margin-bottom: 8px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-text {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* sections Portfolio */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  margin-bottom: 72px;
  font-family: Roboto;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  text-align: 02em;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-list {
  column-gap: 24px;
  row-gap: 48px;
  display: flex;
  flex-wrap: wrap;
}
.container-title {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 360px;
}
.portfolio-item {
  display: block;
}
.portfolio-title-text {
  margin-bottom: 8px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* footer */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer .container {
}
.footer-text {
  font-family: Roboto;
  font-weight: 400;
  width: 264px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.logo-light {
  color: #f4f4fd;
}
