body {
  background: #2298cb;
  width: 1440px;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  width: 1158px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 37px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 8px;
}

/* item { */
/* width: calc(100%); */

/* section { */
/* padding: ; */
/* } */
/* section list { */
/* display: flex; */
/* } */
/* section caption {заголовок */
/* width: max 496px; */
/* max-width: 496px; */
/* } */
section hiro {
}

/* .header .container { */
/* display: flex; */
/* } */
body {
  color: #434455;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* position */
/* border-bottom */
/* width */
/* } header */
/* #region */
/* #enregion */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 156px;
  padding-right: 156px;
  border-bottom: 1px solid #e7e9fc;
  padding: 0 15px;
}
.logo header-logo {
  color: #2e2f42;
  text-decoration: none;
  margin-right: 76px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-dark {
  color: #2e2f42;
  /* margin-right: 76px; */
}

.nav-list {
  padding-left: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  gap: 40px;
}

.nav-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* hover */
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.info-link:hover {
  color: #404bbf;
}
.info-link:focus {
  color: #404bbf;
}
.nav-item {
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.info-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.info-item {
  padding: 24px 0;
  display: inline;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.info-item:hover {
  color: #404bbf;
}
.info-item:focus {
  color: #404bbf;
}
.address {
}
.info {
  display: flex;
  padding-left: 0px;
  margin-left: 332px;
  gap: 40px;
}
/* main */
.hiro {
  background-color: #2e2f42;
  /* width: 1440; */
  padding: 188px 0;
}
.hiro-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: #ffffff;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  /* border: 120px 80px; */
}
.btn {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */
  background: #4d5ae5;
  /* color: #ffffff; */
  cursor: pointer;
}
.btn:hover {
  background-color: #404bbf;
}
.btn:focus {
  background-color: #404bbf;
}
/* section skills */
.skills {
  padding: 120px 0;
}
.skills .container {
  display: flex;
  justify-content: center;
  padding: 120px 0;
}
.skills-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
  justify-content: center;
  margin-bottom: 8px;
}
.skills-list {
  display: flex;
  gap: 24px;
}
.skills-item {
  width: calc((100% - 72px) / 4);
}
.skills-title-text {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.skills-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
/* section team */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team .container {
  flex-wrap: wrap;
}

.team-title {
  margin-bottom: 72px;
  /* display: block;  */
  font-family: Roboto;
  font-weight: 700;

  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-list {
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.container-name {
  padding: 32px 0;
}
.team-item {
  border-radius: 0px 0px 4px 4px;

  /* display: block; */
  background-color: #ffffff;
}
.team-title-text {
  text-align: center;
  margin-bottom: 8px;
  /*  */
  font-family: Roboto;
  font-weight: 500;

  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #2e2f42;
}
.team-text {
  text-align: center;
  /*  */
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* sections Portfolio */
.portfolio {
  /* width: 1440; */
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  margin-bottom: 72px;
  /*  */
  font-family: Roboto;
  font-weight: 700;
  text-align: center;
  font-size: 36px;

  text-align: 02em;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-list {
  width: calc((100% - 48px) / 3);
  column-gap: 24px;
  row-gap: 48px;
  /*  */
  display: flex;
  flex-wrap: wrap;
}
.container-title {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item {
  /* width: calc((100% - 48px) / 3); */
  /*  */
  display: block;
}
.portfolio-title-text {
  margin-bottom: 8px;
  /*  */
  font-family: Roboto;
  font-weight: 500;

  font-size: 20px;

  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-family: Roboto;
  font-weight: 400;

  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* footer */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
  /* width: 1440; */
  /* height: 312; */
  /* top: 2988px; */
}
.footer-text {
  font-family: Roboto;
  font-weight: 400;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-light {
  color: #f4f4fd;
}
